spring:
  application:
    name: OpenVault API

  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/openvault
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    user:
      name: admin
      password: admin

server:
  port: 8080
  servlet:
    context-path: /api
  forward-headers-strategy: framework

# Configuration JWT
jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  expiration: 86400000  # 24 heures

# Swagger
springdoc:
  swagger-ui:
    path: /swagger-ui.html